
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Super Metroid Item Randomizer</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/navbar-static-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Metroid Item Randomizer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/randomize">Randomize!</a></li>
            <li><a href="/information">Information</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

<h2>Super Metroid Item Randomizer</h2>
    <p>
        Go to the Randomize! page to get started.
    </p>

    <br />
    <h3>Change Log:</h3>
    <h4>Rusty - 8/25/2022</h4>
    <ul>
        <li>All of these should be rotated with strotlog's tool:</li>
        <ul>
            <li><a href="https://strotlog.github.io/romhackizer/" rel="nofollow">https://strotlog.github.io/romhackizer/</a></li>
      </ul>
      <li> There is casual, expert and master logic!
      <ul>
            <li>Casual:</li>
            <li>No hellruns or suitless maridia will be required. Wrecked ship can be accessed with HJB or Space+Gravity.</li>
            <li>The only required techniques will be:</li>
            <li> -Regular walljump</li>
            <li> -Infinite bomb jump</li>
            <li> -1-tap short charge, which I think is required for Main St. Missile and WS Reserve. It also allows frog speedway spark.</li>
      </ul>
      <ul>
            <li> Expert:/li>
            <li> -Hellruns and suitless maridia can be required.</li>
            <li> -Hellruns were tested to my ability level +1 tank.</li>
            <li> -Not all of the hardest techniques will be in logic.</li>
            <li> -Most notably, suitless walljumping without HJB for more than a screen is not required.</li>
        </ul>
      <ul>
        <li> Master:/li>
            <li>All hard tricks and items I was able to obtain with minimal loadout are in logic. Hellruns were tested to my ability.</li>
        </ul>
    </ul>
  
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
